@font-face {
  font-family: "InterFont";
  src: url("inter/Inter-Medium.ttf"), url("inter/Inter-Regular.ttf"),
    url("inter/Inter-SemiBold.ttf"), url("inter/Inter-Black.ttf"),
    url("inter/Inter-Bold.ttf"), url("inter/Inter-ExtraBold.ttf"),
    url("inter/Inter-ExtraLight.ttf"), url("inter/Inter-Light.ttf"),
    url("inter/Inter-Thin.ttf");
  font-display: block;
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("century-gothic/gothic.ttf"), url("century-gothic/gothicb.ttf"),
    url("century-gothic/gothicbi.ttf"), url("century-gothic/gothici.ttf");
  font-display: block;
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: "ChauPhilomeneOne";
  src: url("chau-philomene-one/ChauPhilomeneOne-Regular.ttf"),
    url("chau-philomene-one/ChauPhilomeneOne-Italic.ttf");
  font-display: block;
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("caveat/Caveat-Regular.ttf"), url("caveat/Caveat-Medium.ttf"),
    url("caveat/Caveat-SemiBold.ttf"), url("caveat/Caveat-Bold.ttf"),
    url("caveat/Caveat-VariableFont_wght.ttf");
  font-display: block;
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Regular.ttf"), url("roboto/Roboto-Light.ttf"),
    url("roboto/Roboto-Medium.ttf"), url("roboto/Roboto-Bold.ttf"),
    url("roboto/Roboto-Thin.ttf");
  font-display: block;
  // font-weight: normal;
  // font-style: normal;
}
