<ng-container *transloco="let t; read: 'maintenance'">
  <p-scrollTop></p-scrollTop>
  <div class="maintenance-wrap distance-to-footer pt-8 md:pt-7">
    <!-- <p class="text-center font-semibold">{{ t("temp") }}</p> -->
    <div class="block-title-wrap pt-6 lg:pt-7 lg:pb-5">
      <h1 class="block-title">
        {{ t("care") }}
      </h1>
    </div>
    <div class="common-text-wrap">
      <p class="maintenance-about">{{ t("about") }}</p>
    </div>
    <div class="pt-7 col-12 pl-0 pr-0">
      <div class="special-offers-wrap">
        <h3 class="special-offers">{{ t("offers") }}</h3>
        <p class="special-offer">
          <i class="pi pi-angle-double-down" style="font-size: 1.5rem"></i>
        </p>
        <p class="special-offer">{{ t("offer1") }}</p>
        <div class="special-offers-image"></div>
      </div>
    </div>
    <div class="block-title-wrap">
      <h2 class="block-title">{{ t("what") }}</h2>
    </div>
    <div class="flex w-full justify-content-center">
      <div class="offers-wrap">
        <div class="offer scale-img">
          <p class="offer-title offer-title_maintenance">
            {{ t("offer-title-1") }}
          </p>
          <div class="offer-image-wrap">
            <img
              src="../../../assets/images/maintenance/barista.jpg"
              alt="barista"
              class="offer-image"
            />
          </div>
        </div>
        <div class="offer scale-img shadow-6">
          <p class="offer-title offer-title_maintenance">
            {{ t("offer-title-2") }}
          </p>
          <div class="offer-image-wrap">
            <img
              src="../../../assets/images/maintenance/machine-and-grinder.jpg"
              alt="machine and grinder"
              class="offer-image"
            />
          </div>
        </div>
        <div class="offer scale-img shadow-6">
          <p class="offer-title offer-title_maintenance">
            {{ t("offer-title-3") }}
          </p>
          <div class="offer-image-wrap">
            <img
              src="../../../assets/images/maintenance/details.jpg"
              alt="details"
              class="offer-image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="block-title-wrap">
      <h2 class="block-title">{{ t("specialist") }}</h2>
    </div>
    <div class="common-text-wrap">
      <div class="flex flex-column lg:flex-row col-12 maintenance-about">
        <p class="col-12 text-center lg:col-6 lg:text-left specialist-text">
          {{ t("specialist-things") }}
        </p>
        <div
          class="flex flex-column col-12 lg:col-6 gap-5 align-items-center justify-content-center"
        >
          <div class="specialist-image-wrap">
            <img
              src="../../../assets/images/maintenance/repair-1.jpg"
              alt="machine"
              class="offer-image"
            />
          </div>
          <div class="specialist-image-wrap">
            <img
              src="../../../assets/images/maintenance/repair-2.jpg"
              alt="machine"
              class="offer-image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="block-title-wrap">
      <h2 class="block-title">{{ t("capital") }}</h2>
    </div>
    <div class="common-text-wrap pt-5 pb-5">
      <div class="flex flex-column maintenance-about gap-5 align-items-center">
        <p class="text-left specialist-text">
          {{ t("capital-steps") }}
        </p>
        <div class="slider w-23rem h-13rem md:w-30rem md:h-17rem">
          <div *ngFor="let photo of photos; let i = index">
            <img
              @sliderTrigger
              *ngIf="i === (photoIndex$ | async)"
              src="../../../assets/images/maintenance/{{ photos[i] }}"
              alt="picture"
              class="slide w-full h-auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
